<!DOCTYPE html>
<html>
<head>
    <title>ERROR</title>
    <link rel="stylesheet" href="styles/all.css"/>
</head>
<body>
<div class="wrapper">
    <div class="main-holder">
        <header class="header">
            <h1>Ошибка</h1>
        </header>

        <section class="content">
            <p><%= @error %></p>
        </section>
    </div>

    <footer class="footer">
        <div class="footer-holder">
            <p>Калькулятор &copy;</p>
        </div>
    </footer>
</div>
</body>
</html>